html, body
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  font-size: 100%
  line-height: 1
  font-family: Roboto, sans-serif
  position: relative

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

*
  padding: 0
  margin: 0

h1, h2, h3, h4, h5, h6, p
  font-size: 14px
  font-weight: 400


.navbarGrid
  grid-area: navbar

.sidebarGrid
  grid-area: sidebar

.tableGrid
  grid-area: table

.appWrapper
  display: grid
  grid-template-areas: "navbar navbar" "sidebar table"
  grid-template-columns: 234px 1fr

  .buttonContainer
    position: absolute
    left: 10px
    bottom: 10px